* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}

.desktop-menu {
  display: flex;
}
.mobile-menu {
  visibility: hidden;
}
.feature-row {
  margin: "20px 8%";
}
.cta-title {
  text-align: center;
  color: #fff !important;
  font-size: 4rem !important;
}

@media (max-width: 1200px) {
  .video-container {
    width: 560px !important;
    height: 315px !important;
  }
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: inline-block;
    visibility: visible;
  }
  .signup-button {
    margin-top: 30px !important;
  }
  .hero-title {
    font-size: 2em !important;
  }
  .video-container {
    width: 400px !important;
    height: 270px !important;
  }
  .feature-row {
    margin: "20px 0" !important;
  }
  .cta-title {
    font-size: 2rem !important;
  }
}
