.loginIllustration {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.leftTextWrapper {
  padding-left: 12%;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 769px) {
    margin-top: 80px;
  }
}

.forgotPasswordBtnWrapper {
  text-align: right;
}

.forgotPasswordBtn {
  cursor: pointer;
}
