.container {
  background-image: url("/images/pricing_top_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100vw;
  padding: 100px 0 0 0;
}

.wrapper {
  padding: 50px 5%;
  margin: auto;
  border-radius: 10px;
}

.leftTextWrapper {
  padding-left: 12%;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 769px) {
    margin-top: 80px;
  }
}

.loginIllustration {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.formCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  padding: 50px;
}

.forgotPasswordBtnWrapper {
  text-align: right;
}

.forgotPasswordBtn {
  cursor: pointer;
}
