.intro {
  border: 1px solid #f3f1ff;
  border-radius: 20px;
  padding: 20px;
}

.questionCard {
  border: 1px solid #f3f1ff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

.questionInputContainer {
  margin-top: 10px;

  :global(.ant-radio-checked) :global(.ant-radio-inner) {
    border-color: #7a6def !important;
    background-color: #7a6def !important;
  }
}

.questionOption {
  margin-bottom: 10px;
}

.submitButtonWrapper {
  text-align: right;
  margin-top: 24px;
}

.submitButton {
  background-color: #7a6def !important;
}

.questionCardError {
  border-color: red;
}
